.kocka{
    height: 800px;
    width: 800px;
    background-color: red;
    margin: 200px auto;
    opacity: 90%;
}

.row{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}

#points{
    height: 100px;
    float: inline-start;
    font-size: 100px;
    line-height: 100px;
}